body {
    background-color: lemonchiffon;
}

h2 {
    color: firebrick;
    background-color: khaki;
}

h4 {
    color: royalblue;
}

div {
    background-color: blanchedalmond;
}

table {
    background-color: #AEE1CD;
}